*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(29, 155, 209);
    color: #fff;
    padding: 15px 0;
}

.container{
    max-width: 100%
   
}

.content-main{
    background-color:rgb(145, 211, 231);
    margin: 10px;
   
    border: 1px solid black;
    border-radius: 10px ;
}

.content-main-big{
    background-color: rgb(145, 211, 231);
    margin: 10px;
    
    border: 1px solid black;
    border-radius: 10px ;
    position: relative;
}

.content-main-big img{
    width: 80%;
    margin-top: 20px;
    
    
    
}

.content-planner{
    background-color: rgb(151, 146, 228);
    margin: 0 10px;
   
    margin-top: 10px;
    
   
}

.content-planner img{
    width: 100%;
}

.content-planner-right img{
    width: 100%;
}

.content-planner-right{
    background-color:white;
    
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
 
}

.container-strategic-planner{
    max-width: 100%;
}


.content-benefits{
    background-color: rgb(29, 176, 209);
    margin: 10px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px ;
}

.content-testimonials{
    background-color:rgb(151, 146, 228);
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-about-us{
    background-color:#fff;
    height: 100px;
    border: 1px solid black;
}

.content-get-started{
    background-color:rgb(151, 146, 228);
    height: 100px;
    border: 1px solid black;
}

.content-footer{
    background-color:rgb(31, 31, 31);
    height: 50px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.header-col-50{
    width: 50%;
}

.col-66{
    width: 100%;
}

.col-33{
    width: 100%;
}

.col-50{
    width: 100%;
    
}



.col-25{
    width: 100%;
}

.col-100{
    width: 100%;
}

.col-33-testimonials{
    width: 100%;
}

.col-33-benefits{
    width: 100%;
}

/* utility classes */

.float-end{
    float: right;
}

.mt-40{
    margin-top: 40px;
}

.ml-10{
    margin-left: 10px;
}

.mr-10{
    margin-right: 10px;
}

.bg-viola{
    background-color: rgb(151, 146, 228);
}

.bg-black{
    background-color: rgb(31, 31, 31);
}

.text-center{
    text-align: center;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 10px;
}

.ml-20{
    margin-left: 20px;
}

.br-20{
    border-radius: 20px;
}

.pd-10{
    padding: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.pd-70{
    padding-left: 70px;
    padding-right: 70px;
}

.bg-blu{
    background-color: rgb(29, 176, 209);
    color: #fff;
}

.font-size{
    font-size: 20px;
}

.font-size-icons{
    font-size: 50px;
}

.font-size-15{
    font-size: 15px;
}

.mt-30{
    margin-top: 30px;
}

.color-blu{
    color: rgb(10, 2, 255);
}

.color-white{
    color: #fff;
}

.br-100{
    border-radius: 50px;
}

.ml-90{
    margin-left: 90px;
}
/* media query */

@media screen and (min-width: 768px) {
    .col-66{
        width: calc(100% / 3 * 2);
    }

    .col-33{
        width: calc(100% / 3)
    }

    .col-33-benefits{
        width: 50%;
    }

    .content-main-big img{
        width: 70%;
    }

    .font-size{
        font-size: 30px;
    }

    .font-size-code{
        font-size: 39px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .container-strategic-planner{
        width: 500px;
        margin: 0 auto;
    }

    .content-planner-right{
       margin-top: 70px;
        margin-left: 30px;
    }

    .col-33-benefits{
        width: calc(100% / 3);
    }

    .content-main-big img{
        position:absolute;
        top: 0%;
        left: 100%;
        width: 50%;
        transform: translate(-100%, -0%);
        margin-left: 20px;
        padding-left: 20px;
    }

    .content-main-big{
        height: 310px;
    }

    .font-size{
        font-size: 22px;
    }

    .font-size-code{
        font-size: 18px;
    }

    .mr-10{
        margin-right: 200px;
    }

    .col-50{
        width: 50%;
    }

    
}
